selenium
pyautogui
pyperclip
pandas
plotly
tqdm
python-dotenv
google-generativeai
fastapi
uvicorn
requests
langgraph
langchain
langchain-groq
yfinance
websockets
pydantic
langchain-core
langchain-community